In [52]:
from datetime import datetime
import pandas as pd
import numpy as np
import requests

In [53]:
def time_study(rows, columns):
    start = datetime.now()
    df = pd.DataFrame(np.random.randint(0,100,size=(rows, columns)))
    correlation_mat = df.corr()
    end = datetime.now()
    return (end - start).total_seconds()

In [54]:
def row_col_constructor():
    output = []
    rows = [100, 500, 1000, 10000, 20000, 100000]
    cols = [10, 100, 250, 500, 1000]
    for r in rows:
        for c in cols:
            output.append({
                'rows': r,
                'columns': c
            })
    return output

In [55]:
def run_study():
    study = row_col_constructor()
    result = []
    for s in study:
        result.append(time_study(s['columns'],s['rows']))
    requests.get('https://maker.ifttt.com/trigger/python_done/with/key/WMAOL0QYgEsKjHKdEXTX7')
    
    df = pd.DataFrame(study)
    df['result'] = result
    return df

In [ ]:
result_df = run_study()
result_df

   rows  columns       result
0   100     1000     0.049183
1   500     1000     1.123520
2  1000     1000     6.725239
3  1500     1000    18.807495
4  2000     1000    34.536050
5  2500     1000    66.869126
6  3000     1000    94.713315
7  3500     1000   152.175808
8  4000     1000   191.810996
9  4500     1000  3690.481079