In [15]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('/Users/brandon/Desktop/tv.csv')

In [23]:

df = df.replace(r'^\s*$', np.nan, regex=True)

In [25]:
df[df.isna().any(axis=1)].size

25

In [26]:
def convert_blanks_to_nan(df):
    return df.replace(r'^\s*$', np.nan, regex=True)

def find_nan_counts(df):
    return df[df.isna().any(axis=1)].size

In [27]:
test = convert_blanks_to_nan(df)

In [29]:
df[df.isna().any(axis=1)].

          A             B         C         D  E
2  0.828826  0.1365627634  0.220215       NaN  1
3  0.507558  0.5763148789       NaN  0.995537  1
4  0.572576           NaN  0.277058  0.355771  0
5  0.951543           NaN  0.779551  0.540282  1
6  0.040714           NaN  0.688105  0.709395  1