In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score
import json
%matplotlib inline

In [106]:
milo_data = pd.read_csv('/Volumes/researchFiles/amz_files/Systhetic-TBx1-MILO-results.csv')

milo_data['selected_features'] = milo_data['selected_features'].apply(lambda x: sorted(x.replace(" ","").replace("'","")[1:-1].split(',')))
milo_data['length'] = milo_data['selected_features'].apply(lambda x: len(x))
milo_data['selected_features'] = milo_data['selected_features'].apply(lambda x: str(x))
milo_data['selected_features'] = milo_data['selected_features'].apply(lambda x: x.replace("'", '"'))

#remove random forest
rf_filter = milo_data['feature_selector'].str.contains("random forest", case=False)
milo_data = milo_data[~rf_filter]

#select only needed columns
milo_data_reduced = milo_data[['feature_selector', 'selected_features', 'length']]

#remove any options that preserve all columns
no_full_columns = milo_data_reduced[milo_data_reduced['length'] < milo_data_reduced.length.max()]

#prepare output
result = no_full_columns.drop_duplicates().sort_values(by='feature_selector').set_index('feature_selector')
final = result[~result.index.duplicated()]


final

,selected_features,length
feature_selector,,
select percentile (25%),"[""CDC1551"", ""CFP10"", ""HN878"", ""HSPX"", ""Rv0831""...",8
select percentile (50%),"[""CDC1551"", ""CFP10"", ""HN878"", ""HSPX"", ""Rv0054""...",15
select percentile (75%),"[""Ag85b"", ""CDC1551"", ""CFP10"", ""HN878"", ""HSPX"",...",23

In [100]:
not_rf[['feature_selector','selected_features']].drop_duplicates()

           feature_selector                                  selected_features
2   select percentile (25%)  ["CDC1551", "CFP10", "HN878", "HSPX", "Rv0831"...
16  select percentile (75%)  ["Ag85b", "CDC1551", "CFP10", "HN878", "HSPX",...
19  select percentile (50%)  ["CDC1551", "CFP10", "HN878", "HSPX", "Rv0054"...

In [102]:
rf[['feature_selector','selected_features','key']].drop_duplicates()

,feature_selector,selected_features,key
3,random forest importance (75%),"[""Ag85b"", ""CFP10"", ""H37Rv"", ""HN878"", ""Rv0054"",...",minmax__rf-75__mlp__grid__accuracy__roc_auc__f...
12,random forest importance (75%),"[""Ag85b"", ""CFP10"", ""H37Rv"", ""HN878"", ""HSPX"", ""...",std__rf-75__svm__grid__accuracy__1
13,random forest importance (75%),"[""Ag85b"", ""CFP10"", ""H37Rv"", ""HN878"", ""HSPX"", ""...",std__rf-75__svm__grid__accuracy__roc_auc__f1_m...
15,random forest importance (75%),"[""Ag85b"", ""CFP10"", ""H37Rv"", ""HN878"", ""HSPX"", ""...",std__rf-75__svm__grid__accuracy__roc_auc__0
36,random forest importance (50%),"[""Ag85b"", ""CDC1551"", ""CFP10"", ""HN878"", ""Rv0054...",minmax__rf-50__mlp__random2__accuracy__1
...,...,...,...
3149,random forest importance (75%),"[""Ag85b"", ""CDC1551"", ""CFP10"", ""H37Rv"", ""HN878""...",minmax__rf-75__mlp__random__accuracy__roc_auc__0
3150,random forest importance (50%),"[""CFP10"", ""Rv1009"", ""Rv1566c"", ""Rv1677"", ""Rv18...",none__rf-50__knn__random__accuracy__roc_auc__1
3151,random forest importance (50%),"[""CDC1551"", ""CFP10"", ""H37Rv"", ""HSPX"", ""Rv0054""...",minmax__rf-50__mlp__random__accuracy__0
3153,random forest importance (75%),"[""Ag85b"", ""CFP10"", ""H37Rv"", ""HSPX"", ""Rv0831"", ...",minmax__rf-75__mlp__random2__accuracy__roc_auc...
3154,random forest importance (25%),"[""Ag85b"", ""CFP10"", ""Rv0934"", ""Rv1009"", ""Rv1566...",none__rf-25__mlp__random2__accuracy__roc_auc__...

array(['principal component analysis (80%)', 'select percentile (25%)',
       'random forest importance (75%)',
       'all features (no feature selection)',
       'principal component analysis (90%)', 'select percentile (75%)',
       'select percentile (50%)', 'random forest importance (50%)',
       'random forest importance (25%)'], dtype=object)

In [8]:
df

     col1  col2  col3  col4  col5  col6  result
0    0.69  0.28  0.65  0.24  0.73  0.93       0
1    0.69  0.49  0.96  0.69  0.72  0.51       1
2    0.03  0.91  0.70  0.64  0.42  0.42       1
3    0.64  0.04  0.30  0.18  0.21  0.41       1
4    0.73  0.60   NaN  0.03  0.82  0.77       1
..    ...   ...   ...   ...   ...   ...     ...
504  0.47  0.62  0.63  0.94  0.33  0.75       1
505  0.91  0.66  0.75  0.30  0.08  0.86       1
506  0.77  0.84  0.66  0.08  0.91  0.83       1
507  0.44  0.92  0.79  0.49  0.17  0.74       0
508  0.13  0.00  0.90  0.32  0.32  0.11       0

[509 rows x 7 columns]