In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
df = pd.read_csv('/Users/brandon/Desktop/MILO/test_files/dummy_train_column_scan_comp.csv')
df = df.replace(r'^\s*$', np.nan, regex=True) #replaces empty strings spacess with NaN

In [4]:
target = 'outcome'

In [19]:
col = df['va_b']
col = col.round()

0     1.0
1     1.0
2     0.0
3     0.0
4     1.0
5     0.0
6     1.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    0.0
15    1.0
16    1.0
17    1.0
18    0.0
19    0.0
20    0.0
Name: va_b, dtype: float64

In [56]:
df[a] = df['a'] < 0 = 0

SyntaxError: cannot assign to comparison (<ipython-input-56-001d838e53e5>, line 1)

In [61]:
row = df['a']
row[row < 0] = 0

In [58]:
test

   a  b  c
0  1  2  0
1  1  2  3

In [78]:


imp_mean = IterativeImputer(random_state=0)
X = df.drop(columns=[target])
y = df[target]

#check if negative values exist in each column before imputation
col_has_negative = ((X < 0).any()).to_dict()

imp_mean.fit(X)
result = pd.DataFrame(imp_mean.transform(X),columns=X.columns)
result[df.columns[df.isna().any()]] = result[df.columns[df.isna().any()]].round(decimals=3)

#if column does not have negative values, change all imputed negative values to 0
for col in col_has_negative:
    if(not col_has_negative[col]):
        column = result[col]
        column[column < 0 ] = 0

result[target] = y
#change index to match excel
result.index = result.index + 2

,va_a,va_b,va_c,cat_b,"('cat_a_one',)","('cat_a_three',)","('cat_a_two',)",outcome
2,0.751,0.869,0.460,0.0,1.0,0.0,0.0,1
3,0.686,0.589,0.454,1.0,0.0,0.0,1.0,0
4,0.303,0.385,0.464,0.0,0.0,1.0,0.0,1
5,0.740,0.383,0.455,1.0,1.0,0.0,0.0,0
6,0.048,0.662,0.458,0.0,0.0,0.0,1.0,1
7,0.572,0.390,0.459,1.0,0.0,1.0,0.0,0
8,0.534,0.507,0.944,0.0,1.0,0.0,0.0,1
9,0.626,0.428,0.171,1.0,0.0,0.0,1.0,0
10,0.114,0.812,0.596,0.0,0.0,1.0,0.0,1
11,0.849,0.326,0.044,1.0,1.0,0.0,0.0,0
12,0.973,0.756,0.360,1.0,0.0,0.0,1.0,0
13,0.980,0.110,0.941,0.0,0.0,1.0,0.0,1
14,0.400,0.146,0.252,1.0,1.0,0.0,0.0,0
15,0.833,0.326,0.750,1.0,0.0,0.0,1.0,0
16,0.284,0.205,0.061,0.0,0.0,1.0,0.0,1
17,0.236,0.947,0.199,1.0,1.0,0.0,0.0,0
18,0.709,0.947,0.063,1.0,0.0,0.0,1.0,0
19,0.232,0.896,0.916,0.0,0.0,1.0,0.0,1
20,0.990,0.065,0.727,1.0,1.0,0.0,0.0,0
21,0.268,0.374,0.520,1.0,0.0,0.0,1.0,0
22,0.827,0.410,0.324,0.0,0.0,1.0,0.0,1