In [2]:
import pandas as pd
import numpy as np
import os
import simplejson
import json

In [3]:
def load_file(path):
    file_path = path
    df = pd.read_csv(file_path)
    #Automatic fixes
    df = df.replace(r'^\s*$', np.nan, regex=True) #replaces empty strings spacess with NaN
    return df

In [9]:


df = load_file('/Users/brandon/Desktop/combined_missing_data.csv')

df.drop(columns=['Unnamed:0', 'source_row'], inplace=True)

In [50]:
test = pd.Series(list(df.isna().value_counts().head(1).index.values[0]))

df[df.columns[~test]]

        Ht     Wt  40yd  Vertical  BroadJump  3Cone  Shuttle  year  NFLness
0     80.0  318.0  5.60      24.5       92.0    NaN      NaN    20        0
1     76.0  302.0  5.17      34.0      115.0    NaN      NaN    20        1
2     75.0  309.0  4.98       NaN        NaN    NaN      NaN    20        1
3     71.0  197.0  4.62      34.5      120.0    NaN      NaN    20        0
4     72.0  205.0  4.50      40.0      128.0    NaN      NaN    20        1
...    ...    ...   ...       ...        ...    ...      ...   ...      ...
1946  74.0  308.0  5.00      28.5      107.0   7.60     4.56    12        1
1947  70.0  196.0  4.49      38.5      121.0   6.93     4.18    12        1
1948  69.0  187.0  4.36      39.0      123.0    NaN      NaN    12        1
1949  77.0  303.0  4.98      32.5        NaN    NaN      NaN    12        0
1950  77.0  303.0  5.08       NaN        NaN    NaN      NaN    12        0

[1951 rows x 9 columns]

In [131]:
focus = df.isna().value_counts()
focus = focus[focus > 50]
focus.index.names

focus.values


result = []

for count, value in enumerate(focus.index.values):

    l = list(value)
    columns = list(pd.Series(focus.index.names)[l].values)
    col_count = len(columns)
    row_count = focus.values[count]

    result.append(
        {
            'columns': columns,
            'col_count': col_count,
            'row_count': row_count,
            'value_score': pow(col_count,3 )/row_count
        }
    )

print(sorted(result, key=lambda k: (k['value_score']), reverse=False))

[{'columns': ['Bench'], 'col_count': 1, 'row_count': 443, 'value_score': 0.002257336343115124}, {'columns': ['3Cone'], 'col_count': 1, 'row_count': 83, 'value_score': 0.012048192771084338}, {'columns': ['3Cone', 'Shuttle'], 'col_count': 2, 'row_count': 327, 'value_score': 0.024464831804281346}, {'columns': ['Bench', '3Cone', 'Shuttle'], 'col_count': 3, 'row_count': 108, 'value_score': 0.25}, {'columns': ['Vertical', 'BroadJump', '3Cone', 'Shuttle'], 'col_count': 4, 'row_count': 212, 'value_score': 0.3018867924528302}, {'columns': ['Vertical', 'Bench', 'BroadJump', '3Cone', 'Shuttle'], 'col_count': 5, 'row_count': 214, 'value_score': 0.5841121495327103}, {'columns': ['40yd', 'Vertical', 'BroadJump', '3Cone', 'Shuttle'], 'col_count': 5, 'row_count': 89, 'value_score': 1.404494382022472}, {'columns': ['40yd', 'Vertical', 'Bench', 'BroadJump', '3Cone', 'Shuttle'], 'col_count': 6, 'row_count': 148, 'value_score': 1.4594594594594594}]

In [127]:
df.drop(columns=['Bench', '3Cone', 'Shuttle']).to_csv('/Users/brandon/Desktop/combined_opt.csv', index=False, index_label='source_row')